**Pandas**

It is a python library for data set manipulation.

In [4]:
import pandas as pd

bikes = {
    'Brand' : ['RE', 'KTM', 'Honda', 'BMW'],
    'Model' : [2010, 2020, 2012, 2018]
}

bikes_df = pd.DataFrame(bikes)
#parameter(data)
#ndarray (structured or homogeneous), Iterable, dict, or DataFrame
#Dict can contain Series, arrays, constants, dataclass or list-like objects. If
#data is a dict, column order follows insertion-order. If a dict contains Series
#which have an index defined, it is aligned by its index.
print(bikes_df)

   Brand  Model
0     RE   2010
1    KTM   2020
2  Honda   2012
3    BMW   2018

In [8]:
arr = [1,2,3,4,5,6,7]
brr = pd.Series(arr)

#Series : One-dimensional ndarray with axis labels (including time series).

print(brr)
print(type(brr))
#brr is an 0-indexed array
print(brr[3])

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64
<class 'pandas.core.series.Series'>
4

In [9]:
#changing index in pd.Series

brr = pd.Series(arr, index = ['x','y','z','u','v','s','t'])

print(brr)
print(brr['u'])

x    1
y    2
z    3
u    4
v    5
s    6
t    7
dtype: int64
4

In [10]:
employee_hours = {
    'Day01' : 8,
    'Day02' : 6,
    'Day03' : 7,
    'Day04' : 8,
    'Day05' : 7
}

hours_series = pd.Series(employee_hours);

print(hours_series)

Day01    8
Day02    6
Day03    7
Day04    8
Day05    7
dtype: int64

In [12]:
salary = {
    'index'
    'id' : [1,2,3,4,5],
    'amt' : [35000,40000,50000,100000,75000]
}

df = pd.DataFrame(salary)

print(df)

   id     amt
0   1   35000
1   2   40000
2   3   50000
3   4  100000
4   5   75000

In [13]:
print(df.loc[4])

id         5
amt    75000
Name: 4, dtype: int64

**Reading CSV files**

In [16]:
import pandas as pd

df = pd.read_csv('pat_data.csv')

print(df.to_string()) #displays complete dataframe.

     Duration  Pulse  Maxpulse   Sugar
0          60    110       130   409.1
1          60    117       145   479.0
2          60    103       135   340.0
3          45    109       175   282.4
4          45    117       148   406.0
5          60    102       127   300.0
6          60    110       136   374.0
7          45    104       134   253.3
8          30    109       133   195.1
9          60     98       124   269.0
10         60    103       147   329.3
11         60    100       120   250.7
12         60    106       128   345.3
13         60    104       132   379.3
14         60     98       123   275.0
15         60     98       120   215.2
16         60    100       120   300.0
17         45     90       112     NaN
18         60    103       123   323.0
19         45     97       125   243.0
20         60    108       131   364.2
21         45    100       119   282.0
22         60    130       101   300.0
23         45    105       132   246.0
24         60    102       126   334.5
25         60    100       120   250.0
26         60     92       118   241.0
27         60    103       132     NaN
28         60    100       132   280.0
29         60    102       129   380.3
30         60     92       115   243.0
31         45     90       112   180.1
32         60    101       124   299.0
33         60     93       113   223.0
34         60    107       136   361.0
35         60    114       140   415.0
36         60    102       127   300.0
37         60    100       120   300.0
38         60    100       120   300.0
39         45    104       129   266.0
40         45     90       112   180.1
41         60     98       126   286.0
42         60    100       122   329.4
43         60    111       138   400.0
44         60    111       131   397.0
45         60     99       119   273.0
46         60    109       153   387.6
47         45    111       136   300.0
48         45    108       129   298.0
49         60    111       139   397.6
50         60    107       136   380.2
51         80    123       146   643.1
52         60    106       130   263.0
53         60    118       151   486.0
54         30    136       175   238.0
55         60    121       146   450.7
56         60    118       121   413.0
57         45    115       144   305.0
58         20    153       172   226.4
59         45    123       152   321.0
60        210    108       160  1376.0
61        160    110       137  1034.4
62        160    109       135   853.0
63         45    118       141   341.0
64         20    110       130   131.4
65        180     90       130   800.4
66        150    105       135   873.4
67        150    107       130   816.0
68         20    106       136   110.4
69        300    108       143  1500.2
70        150     97       129  1115.0
71         60    109       153   387.6
72         90    100       127   700.0
73        150     97       127   953.2
74         45    114       146   304.0
75         90     98       125   563.2
76         45    105       134   251.0
77         45    110       141   300.0
78        120    100       130   500.4
79        270    100       131  1729.0
80         30    159       182   319.2
81         45    149       169   344.0
82         30    103       139   151.1
83        120    100       130   500.0
84         45    100       120   225.3
85         30    151       170   300.0
86         45    102       136   234.0
87        120    100       157  1000.1
88         45    129       103   242.0
89         20     83       107    50.3
90        180    101       127   600.1
91         45    107       137     NaN
92         30     90       107   105.3
93         15     80       100    50.5
94         20    150       171   127.4
95         20    151       168   229.4
96         30     95       128   128.2
97         25    152       168   244.2
98         30    109       131   188.2
99         90     93       124   604.1
100        20     95       112    77.7
101        90     90       110   500.0
102        90     90       100   500.0
103        90     90       100   500.4
104        30     92       108    92.7
105        30     93       128   124.0
106       180     90       120   800.3
107        30     90       120    86.2
108        90     90       120   500.3
109       210    137       184  1860.4
110        60    102       124   325.2
111        45    107       124   275.0
112        15    124       139   124.2
113        45    100       120   225.3
114        60    108       131   367.6
115        60    108       151   351.7
116        60    116       141   443.0
117        60     97       122   277.4
118        60    105       125     NaN
119        60    103       124   332.7
120        30    112       137   193.9
121        45    100       120   100.7
122        60    119       169   336.7
123        60    107       127   344.9
124        60    111       151   368.5
125        60     98       122   271.0
126        60     97       124   275.3
127        60    109       127   382.0
128        90     99       125   466.4
129        60    114       151   384.0
130        60    104       134   342.5
131        60    107       138   357.5
132        60    103       133   335.0
133        60    106       132   327.5
134        60    103       136   339.0
135        20    136       156   189.0
136        45    117       143   317.7
137        45    115       137   318.0
138        45    113       138   308.0
139        20    141       162   222.4
140        60    108       135   390.0
141        60     97       127     NaN
142        45    100       120   250.4
143        45    122       149   335.4
144        60    136       170   470.2
145        45    106       126   270.8
146        60    107       136   400.0
147        60    112       146   361.9
148        30    103       127   185.0
149        60    110       150   409.4
150        60    106       134   343.0
151        60    109       129   353.2
152        60    109       138   374.0
153        30    150       167   275.8
154        60    105       128   328.0
155        60    111       151   368.5
156        60     97       131   270.4
157        60    100       120   270.4
158        60    114       150   382.8
159        30     80       120   240.9
160        30     85       120   250.4
161        45     90       130   260.4
162        45     95       130   270.0
163        45    100       140   280.9
164        60    105       140   290.8
165        60    110       145   300.0
166        60    115       145   310.2
167        75    120       150   320.4
168        75    125       150   330.4

In [17]:
print(df) #shows only fisrt 5 entries and last 5 entries

     Duration  Pulse  Maxpulse  Sugar
0          60    110       130  409.1
1          60    117       145  479.0
2          60    103       135  340.0
3          45    109       175  282.4
4          45    117       148  406.0
..        ...    ...       ...    ...
164        60    105       140  290.8
165        60    110       145  300.0
166        60    115       145  310.2
167        75    120       150  320.4
168        75    125       150  330.4

[169 rows x 4 columns]

In [18]:
print(pd.options.display.max_rows) #shows the default max rows

60

In [19]:
pd.options.display.max_rows = 999 #changing max rows for display

print(df)

     Duration  Pulse  Maxpulse   Sugar
0          60    110       130   409.1
1          60    117       145   479.0
2          60    103       135   340.0
3          45    109       175   282.4
4          45    117       148   406.0
5          60    102       127   300.0
6          60    110       136   374.0
7          45    104       134   253.3
8          30    109       133   195.1
9          60     98       124   269.0
10         60    103       147   329.3
11         60    100       120   250.7
12         60    106       128   345.3
13         60    104       132   379.3
14         60     98       123   275.0
15         60     98       120   215.2
16         60    100       120   300.0
17         45     90       112     NaN
18         60    103       123   323.0
19         45     97       125   243.0
20         60    108       131   364.2
21         45    100       119   282.0
22         60    130       101   300.0
23         45    105       132   246.0
24         60    102       126   334.5
25         60    100       120   250.0
26         60     92       118   241.0
27         60    103       132     NaN
28         60    100       132   280.0
29         60    102       129   380.3
30         60     92       115   243.0
31         45     90       112   180.1
32         60    101       124   299.0
33         60     93       113   223.0
34         60    107       136   361.0
35         60    114       140   415.0
36         60    102       127   300.0
37         60    100       120   300.0
38         60    100       120   300.0
39         45    104       129   266.0
40         45     90       112   180.1
41         60     98       126   286.0
42         60    100       122   329.4
43         60    111       138   400.0
44         60    111       131   397.0
45         60     99       119   273.0
46         60    109       153   387.6
47         45    111       136   300.0
48         45    108       129   298.0
49         60    111       139   397.6
50         60    107       136   380.2
51         80    123       146   643.1
52         60    106       130   263.0
53         60    118       151   486.0
54         30    136       175   238.0
55         60    121       146   450.7
56         60    118       121   413.0
57         45    115       144   305.0
58         20    153       172   226.4
59         45    123       152   321.0
60        210    108       160  1376.0
61        160    110       137  1034.4
62        160    109       135   853.0
63         45    118       141   341.0
64         20    110       130   131.4
65        180     90       130   800.4
66        150    105       135   873.4
67        150    107       130   816.0
68         20    106       136   110.4
69        300    108       143  1500.2
70        150     97       129  1115.0
71         60    109       153   387.6
72         90    100       127   700.0
73        150     97       127   953.2
74         45    114       146   304.0
75         90     98       125   563.2
76         45    105       134   251.0
77         45    110       141   300.0
78        120    100       130   500.4
79        270    100       131  1729.0
80         30    159       182   319.2
81         45    149       169   344.0
82         30    103       139   151.1
83        120    100       130   500.0
84         45    100       120   225.3
85         30    151       170   300.0
86         45    102       136   234.0
87        120    100       157  1000.1
88         45    129       103   242.0
89         20     83       107    50.3
90        180    101       127   600.1
91         45    107       137     NaN
92         30     90       107   105.3
93         15     80       100    50.5
94         20    150       171   127.4
95         20    151       168   229.4
96         30     95       128   128.2
97         25    152       168   244.2
98         30    109       131   188.2
99         90     93       124   604.1
100        20     95       112    77.7
101        90     90       110   500.0
102        90     90       100   500.0
103        90     90       100   500.4
104        30     92       108    92.7
105        30     93       128   124.0
106       180     90       120   800.3
107        30     90       120    86.2
108        90     90       120   500.3
109       210    137       184  1860.4
110        60    102       124   325.2
111        45    107       124   275.0
112        15    124       139   124.2
113        45    100       120   225.3
114        60    108       131   367.6
115        60    108       151   351.7
116        60    116       141   443.0
117        60     97       122   277.4
118        60    105       125     NaN
119        60    103       124   332.7
120        30    112       137   193.9
121        45    100       120   100.7
122        60    119       169   336.7
123        60    107       127   344.9
124        60    111       151   368.5
125        60     98       122   271.0
126        60     97       124   275.3
127        60    109       127   382.0
128        90     99       125   466.4
129        60    114       151   384.0
130        60    104       134   342.5
131        60    107       138   357.5
132        60    103       133   335.0
133        60    106       132   327.5
134        60    103       136   339.0
135        20    136       156   189.0
136        45    117       143   317.7
137        45    115       137   318.0
138        45    113       138   308.0
139        20    141       162   222.4
140        60    108       135   390.0
141        60     97       127     NaN
142        45    100       120   250.4
143        45    122       149   335.4
144        60    136       170   470.2
145        45    106       126   270.8
146        60    107       136   400.0
147        60    112       146   361.9
148        30    103       127   185.0
149        60    110       150   409.4
150        60    106       134   343.0
151        60    109       129   353.2
152        60    109       138   374.0
153        30    150       167   275.8
154        60    105       128   328.0
155        60    111       151   368.5
156        60     97       131   270.4
157        60    100       120   270.4
158        60    114       150   382.8
159        30     80       120   240.9
160        30     85       120   250.4
161        45     90       130   260.4
162        45     95       130   270.0
163        45    100       140   280.9
164        60    105       140   290.8
165        60    110       145   300.0
166        60    115       145   310.2
167        75    120       150   320.4
168        75    125       150   330.4

**Data Analysis**

In [20]:
print(df.head(20)) #without the parameter it displays the first 5 rows

    Duration  Pulse  Maxpulse  Sugar
0         60    110       130  409.1
1         60    117       145  479.0
2         60    103       135  340.0
3         45    109       175  282.4
4         45    117       148  406.0
5         60    102       127  300.0
6         60    110       136  374.0
7         45    104       134  253.3
8         30    109       133  195.1
9         60     98       124  269.0
10        60    103       147  329.3
11        60    100       120  250.7
12        60    106       128  345.3
13        60    104       132  379.3
14        60     98       123  275.0
15        60     98       120  215.2
16        60    100       120  300.0
17        45     90       112    NaN
18        60    103       123  323.0
19        45     97       125  243.0

In [21]:
print(df.tail()) #when parameter is passed, it displays bottom 5 rows

     Duration  Pulse  Maxpulse  Sugar
164        60    105       140  290.8
165        60    110       145  300.0
166        60    115       145  310.2
167        75    120       150  320.4
168        75    125       150  330.4

In [22]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Sugar     164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

**Data Cleaning**

In [24]:
# here we will try rectify data format, wrong data, empty cells and duplicates

df_date = pd.read_csv('pat_data_date.csv')

df_date.head()

   Duration          Date  Pulse  Maxpulse  Sugar
0        60  '2020/12/01'    110       130  409.1
1        60  '2020/12/02'    117       145  479.0
2        60  '2020/12/03'    103       135  340.0
3        45  '2020/12/04'    109       175  282.4
4        45  '2020/12/05'    117       148  406.0

In [25]:
new_df_date = df_date.dropna() #for dropping all the rows with null values

# df.dropna(inplace = True) // it deletes the null data inplace

print(df_date.info())
print(new_df_date.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Sugar     30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 29 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  29 non-null     int64
 1   Date      29 non-null     object
 2   Pulse     29 non-null     int64
 3   Maxpulse  29 non-null     int64
 4   Sugar     29 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
None

In [27]:
new_df_date = df_date.fillna(130)

print(new_df_date)

    Duration          Date  Pulse  Maxpulse  Sugar
0         60  '2020/12/01'    110       130  409.1
1         60  '2020/12/02'    117       145  479.0
2         60  '2020/12/03'    103       135  340.0
3         45  '2020/12/04'    109       175  282.4
4         45  '2020/12/05'    117       148  406.0
5         60  '2020/12/06'    102       127  300.0
6         60  '2020/12/07'    110       136  374.0
7        450  '2020/12/08'    104       134  253.3
8         30  '2020/12/09'    109       133  195.1
9         60  '2020/12/10'     98       124  269.0
10        60  '2020/12/11'    103       147  329.3
11        60  '2020/12/12'    100       120  250.7
12        60  '2020/12/12'    100       120  250.7
13        60  '2020/12/13'    106       128  345.3
14        60  '2020/12/14'    104       132  379.3
15        60  '2020/12/15'     98       123  275.0
16        60  '2020/12/16'     98       120  215.2
17        60  '2020/12/17'    100       120  300.0
18        45  '2020/12/18'     90       112  130.0
19        60  '2020/12/19'    103       123  323.0
20        45  '2020/12/20'     97       125  243.0
21        60  '2020/12/21'    108       131  364.2
22        45           130    100       119  282.0
23        60  '2020/12/23'    130       101  300.0
24        45  '2020/12/24'    105       132  246.0
25        60  '2020/12/25'    102       126  334.5
26        60    26-12-2020    100       120  250.0
27        60  '2020/12/27'     92       118  241.0
28        60  '2020/12/28'    103       132  130.0
29        60  '2020/12/29'    100       132  280.0
30        60  '2020/12/30'    102       129  380.3
31        60  '2020/12/31'     92       115  243.0

In [28]:
df_date['Sugar'].fillna(130, inplace = True)

print(df_date)

    Duration          Date  Pulse  Maxpulse  Sugar
0         60  '2020/12/01'    110       130  409.1
1         60  '2020/12/02'    117       145  479.0
2         60  '2020/12/03'    103       135  340.0
3         45  '2020/12/04'    109       175  282.4
4         45  '2020/12/05'    117       148  406.0
5         60  '2020/12/06'    102       127  300.0
6         60  '2020/12/07'    110       136  374.0
7        450  '2020/12/08'    104       134  253.3
8         30  '2020/12/09'    109       133  195.1
9         60  '2020/12/10'     98       124  269.0
10        60  '2020/12/11'    103       147  329.3
11        60  '2020/12/12'    100       120  250.7
12        60  '2020/12/12'    100       120  250.7
13        60  '2020/12/13'    106       128  345.3
14        60  '2020/12/14'    104       132  379.3
15        60  '2020/12/15'     98       123  275.0
16        60  '2020/12/16'     98       120  215.2
17        60  '2020/12/17'    100       120  300.0
18        45  '2020/12/18'     90       112  130.0
19        60  '2020/12/19'    103       123  323.0
20        45  '2020/12/20'     97       125  243.0
21        60  '2020/12/21'    108       131  364.2
22        45           NaN    100       119  282.0
23        60  '2020/12/23'    130       101  300.0
24        45  '2020/12/24'    105       132  246.0
25        60  '2020/12/25'    102       126  334.5
26        60    26-12-2020    100       120  250.0
27        60  '2020/12/27'     92       118  241.0
28        60  '2020/12/28'    103       132  130.0
29        60  '2020/12/29'    100       132  280.0
30        60  '2020/12/30'    102       129  380.3
31        60  '2020/12/31'     92       115  243.0

For filling up null cells, we can use mean, median or mode

In [29]:
mean = df_date['Sugar'].mean()
median = df_date['Sugar'].median()
mode = df_date['Sugar'].mode()

df_date['Sugar'].fillna(mean, inplace = True) #filling mean
#df_date['Sugar'].fillna(median, inplace = True) #filling median
#df_date['Sugar'].fillna(mode, inplace = True) #filling mode

In [30]:
df_date.drop_duplicates(inplace = True)